<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>service</key>
		<string>FF00</string>
		<key>write_char</key>
		<string>FF02</string>
		<key>read_char</key>
		<string>FF01</string>
	</dict>
	<dict>
		<key>service</key>
		<string>FFE0</string>
		<key>write_char</key>
		<string>FFE1</string>
		<key>read_char</key>
		<string>FFE1</string>
	</dict>
	<dict>
		<key>service</key>
		<string>18F0</string>
		<key>write_char</key>
		<string>2AF1</string>
		<key>read_char</key>
		<string>2AF0</string>
	</dict>
</array>
</plist>
