<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">The Laboratory.</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper">
    <ion-list class="devices">
      <ion-item *ngFor="let device of devices" (click)="connectDevice(device)" class="device" lines="none" [button]="true">
        <ion-icon slot="start" name="print"></ion-icon>
        <div class="device-wrapper">
          <ion-label>{{device.name}}</ion-label>
          <ion-note>{{device.address}}</ion-note>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="actions">
      <ion-item lines="none" [button]="true" color="primary" (click)="getDevices()" detail="false">
        <ion-icon slot="start" name="search"></ion-icon>
        <ion-label>Get Devices</ion-label>
      </ion-item>
      <ion-item lines="none" [button]="true" color="secondary" (click)="printImage()">
        <ion-icon slot="start" name="image"></ion-icon>
        <ion-label>Print Image</ion-label>
      </ion-item>
      <ion-item lines="none" [button]="true" color="secondary" (click)="textModal.present()">
        <ion-icon slot="start" name="text"></ion-icon>
        <ion-label>Print Text</ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>

<ion-modal #textModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="textModal.dismiss()">
            <ion-label>Cancel</ion-label>
          </ion-button>
        </ion-buttons>
        <ion-title>Print Text</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="printText(textInput.value)">
            <ion-icon name="print"></ion-icon>
            <ion-label>Print</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-textarea type="text" placeholder="Text to print" #textInput rows="5"></ion-textarea>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>